.button{
    background-color: rgb(72, 132, 201);
    border-radius: 6px;
    color: white;
    border: 0px solid;
    height: 30px;
    margin-top: 20px;
}
ol{
    padding: 0px;
    margin-top:  20px;
}